@font-face {
    font-family: AvenirNext;
    src: url('../fonts/AvenirNext-Regular.ttf');
    font-weight: 400;
}

html {
    font-size: 10px;
    font-family: "AvenirNext", Helvetica, Arial, sans-serif;
}
body {
    margin: 0px;
}
main {
    min-height: calc(100vh - 100px);
    padding: 10px;
    background: linear-gradient(-90deg, rgb(0, 182, 158), rgb(0, 141, 163));
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    font-size: 1.8rem;
    background-color: rgb(10, 50, 56);
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 480px) {
    footer {
        flex-direction: column;
    }
}
footer a {
    color: rgb(255, 255, 255);
}
.contact {
    display: flex;
    flex-direction: column;
}
::placeholder {
    opacity: 0.5;
}
.button {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 48px;
    font-size: 2.7rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 3px;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-property: color, background-color, border-color;
    transition-timing-function: ease-out, ease-out, ease-out;
    cursor: pointer;
    user-select: none;
    outline: none;
}
.button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(66, 152, 165);
}
.button:focus {
    background-color: rgb(255, 255, 255);
    color: rgb(66, 152, 165);
}
.button:hover:active {
    background-color: rgb(234, 240, 246);
    border-color: rgb(234, 240, 246);
}